 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h1 id="logo">mxd<span class="poppy">news</span></h1>
        	<%= form_for @topic, remote: true do |f| %>
        		<%= f.text_field :name, placeholder: "Enter a topic" %>
        	<% end %>
        	<ul id="topics">
        		<%= render 'topics/list' %>
        	</ul>
            <div id="popular">
                <p><b>Most Popular</b></p>
                <%= render 'topics/popular' %>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="search-results">
            <%= render 'search_results' %>
        </div>
    </div>
</div>

